* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1020px;
}


/*---header---*/

header {
    background-color: silver;
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.account {
    display: flex;
    flex-direction: row;
}

.nav-button {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-button > a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.nav-button > a:hover {
    color: blueviolet;
}


/*---index---*/

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.content-item {
    background-color: silver;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 320px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
}

.content-item:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.content-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.content-item-info > a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.content-item-info > a:hover {
    color: blueviolet;
}

.content-item-media {
    height: 80%;
}

.content-item-media > img {
    width: 320px;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pagination {
    margin: 20px auto 30px auto;
    background-color: silver;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
}

.paginator-font {
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: black;
}

#but {
    background-color: silver;
    margin: 20px auto 20px auto;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
}


/*---actor---*/

.actor-item {
    background-color: silver;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
}

.actor-item:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.actor-item-media {
    height: 85%;
    border-radius: 10px;
}

.actor-item-media > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.actor-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-radius: 10px;
}

.actor-item-info > a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.actor-item-info > a:hover {
    color: blueviolet;
}


/*---video---*/

.container-about {
    background-color: silver;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
}

.container-about-media {
    width: 250px;
}

.container-about-media > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.container-about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-about-info > h1 {
    font-size: 50px;
}

.container-about-info > p {
    font-size: 25px;
}


/*---register---*/

.aunth-container {
    background-color: silver;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 4%), 0 4px 10px 0 rgb(13 35 67 / 25%);
}

.field {
    display: flex;
    flex-direction: column;
}

.field > input {
    height: 50px;
    width: 500px;
    font-size: 25px;
    margin-bottom: 20px;
}

button {
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}


@media screen and (max-width: 1020px) {

    .wrapper {
        max-width: 680px;
    }
}


@media screen and (max-width: 600px) {

    /*---register---*/

    .field > input {
        height: 50px;
        width: 100%;
        font-size: 25px;
        margin-bottom: 20px;
    }
}