{% extends 'blog/base.html' %}

{% block title %}
    My site
{% endblock %}

{% block content %}
<div class="content">
    {% for content in page_obj %}
    <div class="content-item">
        <div class="content-item-info">
            <a href="{{ content.video }}" target="_blank">{{ content.created_date }}</a>
        </div>

        <div class="content-item-media">
            <img src="{{ content.image }}" alt="">
        </div>
    </div>
    {% endfor %}
</div>

{% if page_obj.has_previous or page_obj.has_next %}
<button id="but">NEXT</button>
{% endif %}
{% endblock %}