{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    My site
{% endblock %}

{% block content %}
<div class="content">
    {% for content in page_obj %}
    <div class="content-item">
        <div class="content-item-info">
            <a href="{{ content.video }}" target="_blank">{{ content.created_date }}</a>
        </div>

        <div class="content-item-media">
            <img src="{{ content.image }}" alt="">
        </div>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}